*{
    margin:0;
    padding: 0;
    color:whitesmoke;
    font-family: 'teko', 'consolas', Courier, monospace;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    margin:2% 10%;
    align-items: center;
}
body{
    background-color: #111;
}
main{
    margin: 2% 10%;
    text-align: justify;
    margin-top: 5%;
}
li{
    display: inline;
    padding:0 30px;
    text-decoration: none;
    color: #fff;
    font-size:18px;
    list-style: none;
}
a{
    text-decoration:none;
}
section{
    margin-bottom:60px;
}
p{
    font-size:16px;
    line-height: 1.5em;
    margin-bottom: 1rem;
}
h2,h3, h4{
    margin-bottom:2rem;
}
h4{
    font-size:22px;
}
h3{
    font-size:26px;
}
h2{
    font-size: 31px;
    line-height: 0.5;
}
details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}
.container{
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: center;
    padding:40px 0;
    flex-wrap: wrap;
}
.container2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right:20px;
}
.container .box, .container .box2{
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    transition:0.5s;
    align-items: flex-start;
    padding-top: 15px;
    text-align: center;
}
.container2 .box3 {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: left;
    transition: 0.5s;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}
.container .box{
    width: 200px;
    height: 250px;
    margin:20px 30px;
}
.container .box2{
    width: 100%;
    height: 250px;
}
.container2 .box3 {
    width: 125px;
    height: 50px;
}
.container .box2 img{
    width:8%;
    margin: 10px;
}
.container .box img{
    width:25%;
    margin: 10px;
}
.box-formacao{
    height:280px!important;
}
.formacao{
    width: 300px !important;
    margin:0 20px!important;
}
.content-formacao{
    display:flex;
}
.container .box:hover, .container .box2:hover,
.container2 .box3:hover{
    transform: translateY(-20px);
}
.container .box:before, .container .box2:before,
.container2 .box3:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #03a9f4,#ff0058)
}
.container .box:after, .container .box2:after,
.container2 .box3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #03a9f4, #ff0058);
    filter:blur(30px)
}
.container .box span, .container .box2 span,
.container2 .box3 span{
    position: absolute;
    top: 6px;;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
.container .box span:before, .container .box2 span:before,
.container2 .box3 span:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
}
.container .box .content, .container .box2 .content{
    position: relative;
    z-index: 10;
    padding:20px 10px;
}
.container2 .box3 .content {
    position: relative;
    z-index: 10;
}
.white-background{
    background-color:#fff;
}
a img{
    width: 20px;
}
a{
    padding-right: 10px;
}
.redesocial{
    display: flex;
}
.summary{
        display: flex;
}
summary h2{
    position: relative;
    line-height: 2;
}
summary h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(45deg,
        #03a9f4,
        #ff0058);
}
.carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.image-pack {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carousel .carousel-container .image-pack div img {
    width: 100%;
    object-fit: cover;
    flex: 1;
}

.carousel-next,
.carousel-prev {
    border: none;
    margin: 1rem;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.no-show {
    display: none;
}

.span-carousel {
    display: inline-block;
    background-color: lightblue;
    width: .5rem;
    height: .5rem;
    margin: .5rem;
    border-radius: 50%;
}

.span-active {
    background-color: rgb(47, 184, 229);
}
